<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,143}</string>
                <key>spriteSourceSize</key>
                <string>{84,143}</string>
                <key>textureRect</key>
                <string>{{197,153},{84,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,143}</string>
                <key>spriteSourceSize</key>
                <string>{84,143}</string>
                <key>textureRect</key>
                <string>{{3,451},{42,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,143}</string>
                <key>spriteSourceSize</key>
                <string>{89,143}</string>
                <key>textureRect</key>
                <string>{{102,3},{89,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,143}</string>
                <key>spriteSourceSize</key>
                <string>{85,143}</string>
                <key>textureRect</key>
                <string>{{95,302},{85,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,143}</string>
                <key>spriteSourceSize</key>
                <string>{93,143}</string>
                <key>textureRect</key>
                <string>{{3,153},{93,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,143}</string>
                <key>spriteSourceSize</key>
                <string>{86,143}</string>
                <key>textureRect</key>
                <string>{{3,302},{86,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,144}</string>
                <key>spriteSourceSize</key>
                <string>{93,144}</string>
                <key>textureRect</key>
                <string>{{3,3},{93,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,143}</string>
                <key>spriteSourceSize</key>
                <string>{86,143}</string>
                <key>textureRect</key>
                <string>{{186,302},{86,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,143}</string>
                <key>spriteSourceSize</key>
                <string>{89,143}</string>
                <key>textureRect</key>
                <string>{{102,152},{89,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,144}</string>
                <key>spriteSourceSize</key>
                <string>{84,144}</string>
                <key>textureRect</key>
                <string>{{197,3},{84,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>number.png</string>
            <key>size</key>
            <string>{284,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90dfda604637abcc6bccc575abe797ec:0723ec66e826573f40ccb62d9341689a:d500031a6472c6b000cd39ee9d0775a8$</string>
            <key>textureFileName</key>
            <string>number.png</string>
        </dict>
    </dict>
</plist>
