@charset "utf-8";
body{
	font-family:"Open Sans", "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size:16px;
	margin-top:50px;
	padding:0;
	color:#333;
	margin-left:0;
	margin-right:0;

}
a{
	text-decoration:none;
	color:#333;
}

.clear{
	clear:both;
}
@keyframes header{
	from{-webkit-transform:translate3d(0, -200px, 0);
	      opacity:0}
	to{-webkit-transform:none;
	      opacity:1}
}
@-webkit-keyframes header{
	from{-webkit-transform:translate3d(0, -200px, 0);
	      opacity:0}
	to{-webkit-transform:none;
	      opacity:1}
}
@-o-keyframes header{
	from{-webkit-transform:translate3d(0, -200px, 0);
	      opacity:0}
	to{-webkit-transform:none;
	      opacity:1}
}
@-moz-keyframes header{
	from{-webkit-transform:translate3d(0, -200px, 0);
	      opacity:0}
	to{-webkit-transform:none;
	      opacity:1}
}
.header{
	height:50px;
	border-bottom:solid 1px #eeeeef;
	margin:auto;
	position:fixed;
	top:0;
	z-index:1000;
	background-color:#FFF;
	width:100%;
	-webkit-animation:header 1s;
	-o-animation:header 1s;
	-moz-animation:header 1s;
	animation:header 1s;
}
@media screen and (min-width : 992px) {
	.nav{
		max-width:960px;
		padding:10px 0;
		margin:0 auto;
	}		
}
@media screen and (max-width : 992px) {
	.nav{
		max-width:750px;
		padding:10px 0;
		margin:0 auto;
	}		
}
.nav-left{
	font-size:16px;
	float:left;
	text-align:center;	
}
.nav-right{
	float:right;
}
.nav-right a{
	padding:0 10px;
}
/*heard*/
.content{
	padding:60px 0;
	margin:0;
	border-bottom:solid 1px #EFEFEF;	
}


@-webkit-keyframes banner-right{
	from{-webkit-transform:translate3d(0, 200px, 0);
	      opacity:0}
	to{-webkit-transform:none;
	   opacity:1}
}
@media screen and (min-width : 992px) {
	.banner-right{
		position:absolute;
		top:40%;
		left:60%;
		max-width:250px;
		text-align:center;
		z-index:1;
	}
	#banner-left img{
	width:60%;
	}
}
@media screen and (max-width : 992px) {
	.banner-right{
		position:relative;
		margin:auto;
		max-width:250px;
		z-index:1;
	}
	#banner-left img{
	width:100%;
	}
}

.banner-right h1{
	text-align:center;
	-webkit-animation:banner-right 3s;
	-o-animation:banner-right 3s;
	-moz-animation:banner-right 3s;
	animation:banner-right 3s;
}


@-webkit-keyframes banner-left{
	from{left:-940px;}
	to{left:0;}
}
@-o-keyframes banner-left{
	from{left:-940px;}
	to{left:0;}
}
@-moz-keyframes banner-left{
	from{left:-940px;}
	to{left:0;}
}
@keyframes banner-left{
	from{left:-940px;}
	to{left:0;}
}
#banner-left{
	position:relative;
}
/*banner*/

.overlay{
	background:url(image/cha1.jpg);
	background-size:cover;
	background-attachment: fixed;
}

.overlay-before{
	background-color:#000;
	position:relative;
	top:0;
	left:0;	
	height:100%;
	width:100%;
	display:block;
	padding:100px 0;
	opacity:0.5;
}
.overlay-txt{
	margin:auto;
	text-align:center;
	width:100%
	font-size:16px;
	color:#FFF;
	line-height:3;
}
/*overlay*/

.variety-header{
	text-align:center;
	margin:60px;
}

.variety-content ul{
	list-style-type:none;
	padding:0;
}
@media screen and (min-width : 992px) {
	.variety-content ul li{
	float:left;
	text-align:center;	
	width:16.66%;
	padding:20px;
	border-bottom:#eeeeef solid 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}	
}
@media screen and (max-width : 992px) {
	.variety-content ul li{
	float:left;
	width:50%;
	text-align:center;	
	padding:20px;
	border-bottom:#eeeeef solid 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}	
}
h2{
	margin:30px;	
}
.variety-content ul li img{
	width:100%;
}
/*variety*/
@media screen and (min-width : 992px) {
	.effect-right{
		float:left;
		width:35%;
		line-height:2.5;
		position:relative;
		z-index:1;
	}
	#effect-left {
		float:left;
		width:65%;
		-webkit-transform:translate3d(0, 0, 0);
	
	}
}
@media screen and (max-width : 992px) {
	.effect-right{
		margin:auto;
		text-align:center;
		line-height:2.5;
	}
	#effect-left {
	width:100%;
	-webkit-transform:translate3d(0, 0, 0);
	}
}
@-webkit-keyframes effect-left {
	0%{-webkit-transform:translate3d(0px, 0, 0);}
	10%{-webkit-transform:translate3d(10px, 0, 0);}
	20%{-webkit-transform:translate3d(-10px, 0, 0);}
	30%{-webkit-transform:translate3d(10px, 0, 0);}
	40%{-webkit-transform:translate3d(-10px, 0, 0);}
	50%{-webkit-transform:translate3d(10px, 0, 0);}
	60%{-webkit-transform:translate3d(-10px, 0, 0);}
	70%{-webkit-transform:translate3d(10px, 0, 0);}
	80%{-webkit-transform:translate3d(-10px, 0, 0);}
	90%{-webkit-transform:translate3d(10px, 0, 0);}
	100%{-webkit-transform:translate3d(0px, 0, 0);}
}
@-o-keyframes effect-left {
	0%{-webkit-transform:translate3d(0px, 0, 0);}
	10%{-webkit-transform:translate3d(10px, 0, 0);}
	20%{-webkit-transform:translate3d(-10px, 0, 0);}
	30%{-webkit-transform:translate3d(10px, 0, 0);}
	40%{-webkit-transform:translate3d(-10px, 0, 0);}
	50%{-webkit-transform:translate3d(10px, 0, 0);}
	60%{-webkit-transform:translate3d(-10px, 0, 0);}
	70%{-webkit-transform:translate3d(10px, 0, 0);}
	80%{-webkit-transform:translate3d(-10px, 0, 0);}
	90%{-webkit-transform:translate3d(10px, 0, 0);}
	100%{-webkit-transform:translate3d(0px, 0, 0);}
}
@-moz-keyframes effect-left {
	0%{-webkit-transform:translate3d(0px, 0, 0);}
	10%{-webkit-transform:translate3d(10px, 0, 0);}
	20%{-webkit-transform:translate3d(-10px, 0, 0);}
	30%{-webkit-transform:translate3d(10px, 0, 0);}
	40%{-webkit-transform:translate3d(-10px, 0, 0);}
	50%{-webkit-transform:translate3d(10px, 0, 0);}
	60%{-webkit-transform:translate3d(-10px, 0, 0);}
	70%{-webkit-transform:translate3d(10px, 0, 0);}
	80%{-webkit-transform:translate3d(-10px, 0, 0);}
	90%{-webkit-transform:translate3d(10px, 0, 0);}
	100%{-webkit-transform:translate3d(0px, 0, 0);}
}
@keyframes effect-left {
	0%{-webkit-transform:translate3d(0px, 0, 0);}
	10%{-webkit-transform:translate3d(10px, 0, 0);}
	20%{-webkit-transform:translate3d(-10px, 0, 0);}
	30%{-webkit-transform:translate3d(10px, 0, 0);}
	40%{-webkit-transform:translate3d(-10px, 0, 0);}
	50%{-webkit-transform:translate3d(10px, 0, 0);}
	60%{-webkit-transform:translate3d(-10px, 0, 0);}
	70%{-webkit-transform:translate3d(10px, 0, 0);}
	80%{-webkit-transform:translate3d(-10px, 0, 0);}
	90%{-webkit-transform:translate3d(10px, 0, 0);}
	100%{-webkit-transform:translate3d(0px, 0, 0);}
}
#effect-left img{
	width:100%;
}
/*effect*/

.introduce{
	text-align:center;
}
.introduce h1{
	text-align:center;
	margin:100px 0;
}
@media screen and (min-width : 992px) {
	.introduce p{
		display:inline-block;
		margin:50px 0px;
		max-width: 780px;
		line-height:2;
		text-align: justify;
	}
	
	.introduce_photo{
	max-width:500px;
	display: inline-block;
	margin:0;
	}
	.introduce_photo img{
		width:100%;
		vertical-align: middle;
	}
}
@media screen and (max-width : 992px) {
	.introduce p{
		display:block;
		margin:50px auto;
		max-width: 780px;
		line-height:2.5;
	}
	.introduce_photo img{
	width:100%;
	display: inline-block;
	margin:0;
	}
}

.overlay2{
	background:url(image/cha3.jpg);
	background-size:cover;
	margin:50px 0 10px 0;
	background-attachment: fixed;
	position:relative;
	padding:60px 30px;
}
.overlay2:before {
	position:absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 0;
	background: rgba(0,0,0,0.7);
}
.overlay2-content{
	position:relative;
	z-index: 1;
}
.overlay2-content p{
	margin:auto;
	text-align:center;
	max-width:650px;
	color:#FFF;
	line-height:3;
}
.overlay2-content a{
	color:#FFF;
	text-align:center;
	background-color:#1999ff;
	margin:auto;
	display:block;
	width:100px;
	padding:20px;
	opacity:1;
	border-radius: 4px;
}
@media screen and (min-width : 992px) {
	.footer{
		max-width:970px;
		margin: 20px auto;
	}
}
@media screen and (max-width : 992px) {
	.footer{
		max-width:750px;
		margin: 20px auto;
	}
}
.about-us{
	float:left;
	font-size:9px;
}
.about-us ul{
	list-style-type:none;
	padding:0;
	
}
.about-us a{
	color:#999;	
}
.pull{
	float:right;
	padding:10px;
}
.pull img{
	width:100px;
	height:100px;	
}
